doctype html
html(lang="english")
  head
    include ../includes/header.pug
    link(rel='stylesheet', href='/css/400.css')
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap', rel='stylesheet')
  body
    .jumbotron.text-center.bg-transparent
      .content
        h2.display-4.text(data-text='400')
          | 400
      p.lead We seem to have denied your request... Mind sending it again?
      a.btn.btn-lg(href='/', role='button') Go back!