doctype html
html(lang="english")
  head
    include ../includes/header.pug
    link(rel='stylesheet', href='/css/errors.css')
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Poppins&display=swap', rel='stylesheet')
  body
    .jumbotron.text-center.bg-transparent
      h1.display-4 404
      p.lead You seem lost, well we can take you back.
      a(href='/')
          button.btn.btn-lg.btn-blurple(role='button') Back to Avenue's Home