.jumbotron {
    margin-top: 25vh; 
    margin-bottom: 35vh
}

.mainBtn {
    background-color: var(--primary) !important;
    border: none !important;
    transition: ease 0.6s;
}

.mainBtn:hover {
    box-shadow: 0 2px 25px 0 var(--background-secondary);
}