.charts {
  text-align: center;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: #2ecc71;
  stroke-width: 4px;
}
.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: #e74c3c;
  stroke-width: 4px;
}

.ct-series-a .ct-area {
  fill: #2ecc71;
}
.ct-series-b .ct-area {
  fill: #e74c3c;
}

.ct-grids line,
.ct-labels span,
.ct-grid.ct-horizontal {
  color: var(--heading);
}
.ct-grid {
  stroke: transparent;
}