* {
    font-family: 'Poppins', sans-serif;
    color: var(--heading);
}

body {
    background-color: var(--background-primary);
}

#search {
    max-width: 300px;
}
#search + button {
    height: 64px;
}

li {
    cursor: pointer;
}

.commands li {
    background-color: var(--background-secondary) !important; 
    color: var(--heading);   
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid var(--background-secondary) !important;
}

.list-group-item:hover, .fa:hover {
    background-color: var(--primary) !important;
    border: none;
    transition: ease-in-out 0.3s;
    color: white;
}

.list-group-item {
    background-color: var(--background-secondary) !important;
    border: none !important;
}

.list-group-item.active {
    background-color: var(--primary) !important;
    border: none !important;
}

footer.page-footer {
    margin-top: 30vh;
}