* {
    font-family: 'Poppins', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

body {
    background-color: #23272A;
}

.jumbotron {
    margin-top: 25vh;
    margin-bottom: 35vh;
}

.mainBtn {
    background-color: #7289DA !important;
    border: none !important;
    transition: ease 0.6s;
}

.mainBtn:hover {
    box-shadow: 0 2px 25px 0 #7289DA;
}

.card, .card-header {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 2px 20px rgba(12, 11, 11, 0.678);
}

.btn-link {
    width: 100%;
    height: 60px;
    color: white !important;
    font-weight: bold;
    text-align: left;
    text-decoration: none !important;
}

.card-body {
    background: #2C2F33;
}

.btn-link:after {
    content: '\2212';
    width: 35px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top: 11px;
    position: absolute;
}

.btn-link.collapsed:after {
    content: '\002B';
}

.btn-link:before {
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    background: #23272A;
    z-index: 1;
    transform: rotate(45deg);
    left: 30px;
    top: 46px;
}