* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: #2C2F33;
    overflow-x: hidden;
}
  
.round {
    border-radius: 50%;
}

.user-avatar {
    max-width: 36px;
}