* {
    font-family: 'Poppins', sans-serif;
    color: var(--heading);
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-primary);
    overflow-x: hidden;
    color: var(--font);
    margin: 0px !important;
}

h1, h2, h3, h4, h5 {
  color: var(--heading);
}

code.hljs {
  background-color: var(--background-secondary);
}
  
.round {
    border-radius: 50%;
}

.user-avatar {
    max-width: 36px;
}

.navbar a {
  color: var(--heading);
}

.table {
  color: var(--heading);
}

.dropdown-menu {
  background-color: inherit;
} 