.navbar.navbar-expand-lg.navbar {
    background-color: var(--background-tertiary) !important;
}

a.nav-link {
    color: var(--font) !important;
    transition: .3s ease-in-out;
}

a.nav-link:hover {
    color: var(--heading) !important;
}

.dropdown-menu {
    background-color: var(--background-secondary);
}
a.dropdown-item {
    color: var(--font);
    transition: .3s ease-in-out;
}
a.dropdown-item:hover {
    background-color: var(--background-tertiary) !important;
    color: var(--heading) !important;
}
a.logoutBtn:hover {
    color: #e74c3c !important;
}
a#navbarDropdown {
    color: var(--font);
}