.navbar.navbar-expand-lg.navbar {
    background-color: var(--background-secondary) !important;
}

.dropdown-menu {
    background-color: var(--background-secondary);
}
a.dropdown-item {
    color: var(--heading);
}
a.dropdown-item:hover {
    background-color: var(--background-secondary);
    color: var(--heading) !important;
}
a.logoutBtn {
    color: #e74c3c;
}
a.logoutBtn:hover {
    color: #e74c3c !important;
}
a#navbarDropdown {
    color: var(--heading);
}