:root,
:root[theme='DARK'] {
  --primary: #7289DA;
  --primary-rgb: rgb(114, 137, 218, 0.6);

  --heading: white;
  --font: rgba(255, 255, 255, 0.884);

  --background-primary: #36393F;
  --background-secondary: #2F3136;
  --background-tertiary: #2d2f31;
  --button-text: white;
  --button-hover: #5c78dd;
}

:root[theme='LIGHT'] {
  --primary: black;
  --primary-rgb: rgb(0, 0, 0, 0.6);

  --heading: black;
  --font: black;

  --background-primary: white;
  --background-secondary: #ecf0f1;
  --background-tertiary: #d7e3e4;
  --button-text: white;
  --button-hover: #000000;
}

:root[theme='OCEAN'] {
  --primary: #46828D;
  --primary-rgb:rgb(70, 130, 141, 0.6);

  --heading: #FFFFFF;
  --font: rgba(255, 255, 255, 0.884);

  --background-primary: #15244B;
  --background-secondary: #0a193a;
  --background-tertiary: #081536;
  --button-text: white;
  --button-hover: #376269;
}

:root[theme='COSMIC'] {
  --primary: #6E80AD;
  --primary-rgb:rgb(110, 128, 173, 0.6);

  --heading: #ffffff;
  --font: rgba(255, 255, 255, 0.884);

  --background-primary: #0F1A31;
  --background-secondary: #070d1a;
  --background-tertiary: #060b18;
  --button-text: white;
  --button-hover: #5067a1;
}

:root[theme='TWILIGHT'] {
  --primary: #757A89;
  --primary-rgb:rgb(117, 122, 137, 0.6);

  --heading: #ffffff;
  --font: rgba(255, 255, 255, 0.884);

  --background-primary: #171F2C;
  --background-secondary: #111720;
  --background-tertiary: #10151d;
  --button-text: white;
  --button-hover: #171F2C;
}

:root[theme='CHOCOLATE'] {
  --primary: #482F5D;
  --primary-rgb: rgb(72, 47, 93, 0.6);

  --heading: #ffffff;
  --font: rgba(255, 255, 255, 0.884);

  --background-primary: #372224;
  --background-secondary: #2c1518;
  --background-tertiary: #251113;
  --button-text: white;
  --button-hover:rgb(60, 33, 82);
}