section#embedsModule.module.container.px-5
  form(action="/servers/" + guild.id + "/embeds?_method=PUT", method="POST")
    .jumbotron.bg-transparent.text-center.pb-0
        h1.display-4 Embeds
        p.lead.text-muted Send and manage embeds from one place!
    .row
        .col-sm-8
            .card
                .card-header #[i.fas.fa-image] Embed
                .card-body
                    h2 Embed Builder 
                        span.badge.badge-pill.badge-blurple New
                    .form-group.my-5
                        .row
                            .col-sm-8
                                textarea.form-control#normalMessage(name="normalMessage", cols="30", rows="3", maxlength='2000', placeholder='Normal message sent with the embed.')
                    .card(id='embedBuilder')
                        .card-body
                            .row
                                .col.col-lg-4.col-md-12
                                    input.form-control(type='url', placeholder='Author Image URL')
                                .col.col-lg-3.col-md-12
                                    input.form-control(type='text', placeholder='Author')
                                .col.col-lg-3.col-md-12
                                    input.form-control(type='text', placeholder='Author URL')
                                .col.col-lg-6.col-md-12
                                    input.form-control(type='text', placeholder='Title')
                                .col.col-lg-6.col-md-12
                                    textarea.form-control.embed-description(type='text', placeholder='Description', rows='5')
                                .col.col-lg-6.col-md-12
                                    label(for='#embedColorInput').text-muted #[i.fas.fa-eye-dropper] Embed Color
                                    input.form-control(type='text', placeholder='#ffffff', maxlength=7, minlength=1, value='#7289DA', id='embedColorInput', required)
                        
                        .card-footer
                            button.btn.btn-success Apply Changes
                            button(type='reset').btn.btn-outline-danger Reset