section#feedbackModule.module.container.px-5
  form(action="/servers/" + guild.id + "/reports?_method=PUT", method="POST")
    .jumbotron.bg-transparent.pb-0
      h1.display-4.text-center Feedback
    .form-group.my-5
      .row
        .col-6
            label What can we help you with?
            input.form-control(type='text', name='mainReportSubject', placeholder='Some question...', required, minlength=10, maxlength=128)
        .col-6
            label Discord Tag
            input.form-control(type='text', name='mainReportAuthor', placeholder='Wumpus#0001', required, maxlength=30)    
        .col-3
          label Subject
          input.form-control(type='text', name='mainReportTitle', placeholder='Some title...', required, minlength=15, maxlength=128)
        .col-9
          label Description
          textarea.form-control(name='mainReportDescription', placeholder='Some description...', required, minlength=15, maxlength=1024, cols="15", rows="5")
        .col-4  
          label Type
          select.form-control(name='mainReportType', required)
            option(value="Feedback", style='color:black;') Feedback
            option(value="Suggestion", style='color:black;') Suggestion
            option(value="Bug", style='color:black;') Bug
        .col-4
    .d-flex.justify-content-center
      button.btn.btn-success #[i.fas.fa-paper-plane] Submit