footer.page-footer
    .bg
        .container
            .row.py-4.d-flex.align-items-center
                .col-md-12.text-center
                    a(href="/support")
                        i.fab.fa-discord.text-white.mr-4
                    a(href="/github")
                        i.fab.fa-github.text-white.mr-4  
                    a(href="/twitter")
                        i.fab.fa-twitter.text-white.mr-4                                                
    .container.text-center.text-md-left.mt-5
        .row
            .col-md-3.mx-auto.mb-4
                h4.text-uppercase.font-weight-bold Avenue
                hr.bg.mb-4.mt-0.d-inline-block.mx-auto
                p.mt-2 Yet another general purpose bot!
            .col-md-2.mx-auto.mb-4
                h4.text-uppercase.font-weight-bold Product
                hr.bg.mb-4.mt-0.d-inline-block.mx-auto
                ul.list-unstyled
                    li.my-2
                        a(href="/invite") Invite
                    li.my-2
                        a(href="/commands") Commands                         
                    li.my-2
                        a(href="/status") Status
            .col-md-2.mx-auto.mb-4
                h4.text-uppercase.font-weight-bold Resources
                hr.bg.mb-4.mt-0.d-inline-block.mx-auto
                ul.list-unstyled
                    li.my-2
                        a(href="/support") Support
                    li.my-2
                        a(href="/faq") FAQ                        
                    li.my-2
                        a(href="/blogs") Blog                       
    .footer-copyright.text-center.py-3 
        p Copyright &copy; 2021 Avenue
        p #[i.fas.fa-icons] Icons given by
            a(href='https://fontawesome.com')  Font Awesome
        p.coded-by #[i.fas.fa-code] Designed by Aktindo#5303 
