nav.navbar.navbar-expand-lg
  a.navbar-brand(href='/')
    img.d-inline-block.align-top(src='/images/Avenue-Logo+Blurple.svg', alt='Avenue', width='40', height='40')
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
    span #[i.fas.fa-bars]
  #navbar.collapse.navbar-collapse
    .navbar-nav
      a.nav-link(href='/commands')
        i.fas.fa-folder
        span.pl-1 Commands
      a.nav-link(href='/invite')
        i.fas.fa-plus
        span.pl-1 Invite
      a.nav-link(href='/faq')
        i.fas.fa-question
        span.pl-1 FAQ
      a.nav-link(href='/github')
        i.fab.fa-github
        span.pl-1 GitHub
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Resources
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/blogs')
            i.fas.fa-rss-square
            span.pl-1 Latest Updates 
          a.dropdown-item(href='/team')
            i.fas.fa-users
            span.pl-1 Staff
          a.dropdown-item(href='/support') 
            i.fab.fa-discord     
            span.pl-1 Support    
    .navbar-nav.ml-auto
      if user
        .dropdown.dropdown-menu-right
          .dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            img.user-avatar.round(src=user.avatarUrl(32))
            span.pl-2 #{user.username}
          .dropdown-menu
            a.dropdown-item(href='/dashboard')
              i.fas.fa-cogs 
              |  Dashboard
            a.dropdown-item(href='/logout', class='logoutBtn')
              i.fas.fa-sign-out-alt(style='color: #e74c3c;')
              |  Logout
      else
        a.nav-link(href='/login') 
          i.fas.fa-sign-in-alt
          span.pl-1 Login