doctype html
html(lang="english")
  head
    include includes/header.pug
    link(rel='stylesheet', href='/css/blogs.css')
  body
    include includes/loader.pug
    include includes/navbar.pug
    .jumbotron.text-center.bg-transparent
        h1.display-4 Latest Updates
        p.lead
            | You do not wanna miss on important updates... Get them here!
        hr.my-4
        a.btn.btn-primary.btn-lg(class='mainBtn', href='#devupdates', role='button') Take me there!
    .container
        h2(id="devupdates") 
            i.fab.fa-discord
            |  Latest Announcements
        .row
            .col-sm-9    
                p.lead This will be updated soon :)
    include includes/footer