doctype html
html(lang="english")
  head
    include includes/header.pug
    link(rel='stylesheet', href='/css/index.css')
  body
    include includes/navbar.pug
    .jumbotron.text-center.bg-transparent(class='firstJumbo')
      h1.display-1 Avenue
      p.lead Yet another general purpose multi-feature bot!
      a(href='/invite')
        .btn.btn-lg(id='inviteBtn') #[i.fas.fa-plus] Invite
    .container
      h1(style='text-align: center;') Why Avenue?
      .row.justify-content-start
          .card.border-secondary.mb-3(class='moderation')
            .card-body.text-secondary
              h5.card-title
                i.fas.fa-gavel
                |  Moderation
              p.card-text
                | Whether you run a server with 10 members or 5000 members, there will always be some pesky guys. To keep them out, use our extensive moderation system!
      .row.justify-content-end
          .card.border-secondary.mb-3(class='information')
            .card-body.text-secondary
              h5.card-title
                i.fas.fa-book
                |  Information
              p.card-text
                | Ever wondered when your server was created? How many members you see each day, activity? Do not worry anymore as our information module keeps track of everything!
      .row.justify-content-start
          .card.border-secondary.mb-3(class='utility')
            .card-body.text-secondary
              h5.card-title
                i.fas.fa-cogs
                |  Utility
              p.card-text
                | Set channels, roles, a fully fledged verification system! Set a welcome system, greet your new members and a lot more! Works well in regard to moderation.
      .jumbotron.text-center.bg-transparent
        h3 Still not ready?
        p.lead View all our commands!
        a(href='/invite')
          button.btn.btn-primary.btn-lg(class='commandBtn', href='/commands', role='button') Go there!